BR2_aarch64=y
BR2_cortex_a73_a53=y
BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL_FXTEC_BR_PATH)/override.mk"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_FXTEC_BR_PATH)/board/fxtec/qx1050/patches"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyGS0"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_FXTEC_BR_PATH)/board/fxtec/qx1050/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_FXTEC_BR_PATH)/board/fxtec/qx1050/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.10"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_FXTEC_BR_PATH)/board/fxtec/qx1050/linux_defconfig"
BR2_LINUX_KERNEL_IMAGEGZ=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="qcom/sm6115-fxtec-pro1x"
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_QCOM_ADRENO=y
BR2_PACKAGE_LIBXCRYPT=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_READLINE=y
BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_IWD=y
BR2_TARGET_ROOTFS_F2FS=y
BR2_TARGET_ROOTFS_F2FS_SIZE="250M"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_FIRMWARE_FXTEC_QX1050=y
BR2_PACKAGE_FIRMWARE_FXTEC_QX1050_ADRENO=y
BR2_PACKAGE_FIRMWARE_FXTEC_QX1050_ADSP=y
BR2_PACKAGE_FIRMWARE_FXTEC_QX1050_CDSP=y
BR2_PACKAGE_FIRMWARE_FXTEC_QX1050_WLAN=y
BR2_PACKAGE_PD_MAPPER=y
BR2_PACKAGE_RMTFS=y
BR2_PACKAGE_TQFTPSERV=y
BR2_PACKAGE_HOST_MKBOOTIMG=y
